streamlit==1.25.0  # or the latest compatible version
scikit-learn==1.3.0
joblib==1.3.0
pandas==2.1.0             # Pandas, if needed, update to the latest version
numpy==1.25.0              # Update numpy to a more recent version
